/* Colors */
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.05em;
  overflow-x: hidden;
  color: #808080;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  background-color: #fcfcfc;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body * {
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #333333; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2em; }

/* Lists */
nav li div h3 {
  font-size: 1em; }

nav div[role='button'] h3 {
  font-size: 1em; }

/* // Lists */
a {
  color: #5D8BE8; }

div.paper-content-wrapper {
  padding: 20px;
  margin-bottom: 12px !important; }

.ExpansionPanel-content-wrapper {
  margin-top: 12px !important;
  margin-bottom: 12px !important; }
  .ExpansionPanel-content-wrapper h3 {
    margin: 0;
    padding: 0;
    font-size: 1.2em; }

div.snackbar-wrapper {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  text-align: center; }
  div.snackbar-wrapper .snackbar-message {
    display: inline-block; }
  div.snackbar-wrapper .snackbar-button {
    position: absolute;
    right: 48px;
    margin-top: -12px; }
  div.snackbar-wrapper .success, div.snackbar-wrapper .warn, div.snackbar-wrapper .danger {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    text-align: center; }
    div.snackbar-wrapper .success div[role='alertdialog'], div.snackbar-wrapper .warn div[role='alertdialog'], div.snackbar-wrapper .danger div[role='alertdialog'] {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      text-align: center; }
      div.snackbar-wrapper .success div[role='alertdialog'] div, div.snackbar-wrapper .warn div[role='alertdialog'] div, div.snackbar-wrapper .danger div[role='alertdialog'] div {
        margin: 0 auto; }
  div.snackbar-wrapper .success div[role='alertdialog'] {
    background-color: #B9F6CA;
    color: #2E7D32;
    border-color: #00C853;
    border-style: solid;
    border-width: 0 0 1px 0; }
  div.snackbar-wrapper .warn div[role='alertdialog'] {
    background-color: #FFCC80;
    color: #E65100;
    border-color: #FB8C00;
    border-style: solid;
    border-width: 0 0 1px 0; }
  div.snackbar-wrapper .danger div[role='alertdialog'] {
    background-color: #FFCDD2;
    color: #E53935;
    border-color: #E53935;
    border-style: solid;
    border-width: 0 0 1px 0; }

.container {
  max-width: 100%;
  margin: 100px auto 0 auto;
  padding: 0 48px; }

div.button-row {
  text-align: right;
  width: 100%;
  padding: 8px 0; }
  div.button-row button {
    margin-right: 12px; }

.button.success {
  color: #fff;
  background-color: #00C853 !important; }

.button.warn {
  color: #fff;
  background-color: #FB8C00 !important; }

.button.danger {
  color: #fff;
  background-color: #E53935 !important; }

.sg-h1, .sg-h2, .sg-h3 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 24px;
  margin: 0;
  padding: 0;
  text-indent: 0.1em;
  padding-bottom: 0.2em; }

.sg-section {
  width: 100%;
  clear: both;
  background: #fff;
  margin-top: 50px;
  padding: 12px;
  padding-bottom: 50px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) ;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) ;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) ; }
  .sg-section .sg-display {
    box-sizing: border-box; }
    .sg-section .sg-display .sg-h2 {
      text-transform: capitalize;
      border-bottom-width: 2px; }

.sg-swatch {
  display: inline-block; }
  .sg-swatch label {
    display: block;
    width: 100%;
    text-align: center; }
  .sg-swatch .sg-color {
    background: #fff;
    border: 1px solid #b3b3b3;
    display: block;
    height: 100px;
    margin: 0 .5em .5em 0;
    padding: 0;
    position: relative;
    width: 150px; }
    .sg-swatch .sg-color .sg-color-cta .bg-color {
      position: absolute;
      z-index: 0;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      border-width: 1px;
      border-style: solid; }
      .sg-swatch .sg-color .sg-color-cta .bg-color span {
        display: block;
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 50%;
        margin-top: -10px;
        text-align: center;
        font-weight: normal; }
    .sg-swatch .sg-color .sg-color-cta.solitude .bg-color {
      background: #DAE1E5;
      border: 0; }
    .sg-swatch .sg-color .sg-color-cta.peru .bg-color {
      background: #BA8261;
      color: #fff;
      border: 0; }
    .sg-swatch .sg-color .sg-color-cta.perano .bg-color {
      background: #A3BDE8;
      color: #fff;
      border: 0; }
    .sg-swatch .sg-color .sg-color-cta.cornflower .bg-color {
      background: #5D8BE8;
      color: #fff;
      border: 0; }
    .sg-swatch .sg-color .sg-color-cta.azure .bg-color {
      background: #3657AA;
      color: #fff;
      border: 0; }
    .sg-swatch .sg-color .sg-color-cta.midnight .bg-color {
      background: #253444;
      color: #fff;
      border: 0; }
    .sg-swatch .sg-color .sg-color-cta.success .bg-color {
      background: #B9F6CA;
      color: #2E7D32;
      border-color: #00C853; }
    .sg-swatch .sg-color .sg-color-cta.warn .bg-color {
      background: #FFCC80;
      color: #E65100;
      border-color: #FB8C00; }
    .sg-swatch .sg-color .sg-color-cta.danger .bg-color {
      background: #FFCDD2;
      color: #E53935;
      border-color: #E53935; }
    .sg-swatch .sg-color .sg-color-cta.appPrimaryColor .bg-color {
      background: #37546a;
      color: #fff;
      border: 0; }
    .sg-swatch .sg-color .sg-color-cta.anchors .bg-color {
      background: #820900;
      color: #fff;
      border: 0; }
    .sg-swatch .sg-color .sg-color-cta.bodyText .bg-color {
      background: #2f4353;
      color: #fff;
      border: 0; }
    .sg-swatch .sg-color .sg-color-cta.headerText .bg-color {
      background: #2f4353;
      color: #fff;
      border: 0; }
